@mixin setfonts(
    $font-family : Inter, 
    $font-style : normal, 
    $font-weight : 500, 
    $font-size : 14px, 
    $line-height : 17px, 
    $letter-spacing : -0.017em) {
    
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
