.comment-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  .comment-section-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .comment-section-item {
    display: flex;
    flex-direction: row;
    gap: 8px;

    .comment-section-profile-image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #0003;
    }

    .comment-section-editor {
      padding: 8px;
    }

    .comment-section-content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex-grow: 1;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid #0003;

      .comment-section-item-header {
        display: flex;
        align-items: center;
        gap: 4px;
        flex-direction: row;
        font-size: 1em;
        padding: 0 16px;
        text-align: start;
        height: 48px;
        background-color: #00000005;
        padding-top: 3px;
        color: $black-b70;

        a {
          color: $black-b70;
          text-decoration: none;
          font-weight: bold;
        }
      }

      .comment-section-item-content {
        padding: 12px 16px;
      }

      .MuiInputBase-root {
        padding: 8px;
      }

      .comment-section-editor-button {
        align-self: flex-end;
        background-color: $pink;
      }
    }
  }
}
