.dropdown {
  min-width: 20rem;
  padding: 0.5rem 0;
  position: absolute;
  right: 0.75rem;
  top: 4rem;

  .dropdown-list {
    width: 100%;
  }

  .dropdown-header {
    padding: 0 1rem;
    text-align: center;
  }

  .dropdown-item {
    font-size: 1rem;
    font-weight: $weight-semibold;
    padding: 0 1rem;
    text-align: left;

    a {
      color: $black;
      display: block;
      padding: 0.5rem 1rem;
      width: 100%;
    }

    a:hover {
      background-color: $mern-primary;
      color: $white;
      cursor: pointer;
    }
  }

  .dropdown-separator {
    margin: 0.5rem 0;
  }
}

.dropdown-caret {
  border: 4px solid $white;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin-left: 0.25rem;
}

.profile-image {
  border: 1px solid #0003 !important;
  border-radius: 50% !important;
}

// custom scrollbar
// from: https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000025;
  border-radius: 20px;
  border: 5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00000015;
}
