@import 'mixins';

.drawer-profile{
    .profile-img{
        position : relative;
        left : 200px;
        top : 40px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border : 1px solid black;
    }
    .profile-string-above{
        @include setfonts($font-weight : $weight-bold,
                $font-size : $size-4,
                $line-height : 40px,
        );
        margin : 20px 0 0 52px;
    }
    .profile-string-below{
        @include setfonts($font-weight : $weight-semibold,
                $font-size : $size-5,
                $line-height : 24px,
        );
        margin : 4px 0 0 52px;
    }
}