html, body, #app, #app>div {
  background-color : $beige;
  height : 100%;
  overflow: auto;
}

a {
  color: $info;
}

.title {
  font-weight: $weight-normal;
}

.section {
  background-color: transparent;
}

.box {
  border-radius: 2px;
}

.select::after {
  border-color: $grey-dark;
}

.field.has-help {
  height: 67px;
}

.card-footer-item {
  cursor: pointer;
  &:hover {
    background-color: $grey-lightest;
  }
}

// Remove Bulma conflicts with React Notifications Component
.notifications-component .notification {
  background-color: unset;
  padding: unset;
}

// Bug in production
.select select {
  padding-right: 2.5em;
}
