@import 'mixins';

.MuiBreadcrumbs-separator{
    @include setfonts(
        $font-weight : 600,
        $font-size : 20px,
        $line-height : 24px
    );
    color: rgba(0, 0, 0, 0.5);
}

.grid-header{
    @include flexBox($display : flex, $flex-direction : column, $justify-content : center);
    @include setfonts(
        $font-weight : 600,
        $font-size : 40px,
        $line-height : 48px
    );
    color : black;
    width : 100%;
    margin-top : 50px;
    
    .breadcrumb{
        @include setfonts(
            $font-weight : 600,
            $font-size : 20px,
            $line-height : 24px
        );
        color: rgba(0, 0, 0, 0.5);
        &:hover{
            color : darken(rgba(0, 0, 0, 0.5), 10%)
        }
    }
}