@import "mixins";

.header {
  background-color: $pink;
  height: 60px;
  padding: 0 16px;
  gap: 4px;
  @include flexBox(
    $display: flex,
    $flex-direction: row,
    $justify-content: center,
    $align-items: center
  );
  position: relative;

  .search-bar {
    @include flexBox($display: flex, $flex-direction: row);
    flex-grow: 1;
    height: 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 0px;

    .search-form {
      margin: 0px;
      padding: 0px;
    }
    form {
      @include flexBox(
        $display: flex,
        $flex-direction: row,
        $align-items: center
      );
      padding-left: 10px;

      img {
        width: 18px;
        height: 18px;
        margin-right: 7px;
      }

      input {
        @include setfonts(
          $font-weight: bold,
          $font-size: 15px,
          $line-height: 18px
        );
        width: 100%;
        outline: none;
        background-color: transparent;
        border: none;
      }
    }
  }
}
