@import "mixins";

.item-page {
  .item-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    gap: 12px;

    .item-page-header-title,
    #item-page-header-title-editor {
      font-size: 2.5em;
      font-weight: bolder;
      flex-grow: 1;
    }

    .item-page-header-title {
      margin-bottom: -6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-page-header-title-editor {
      margin-bottom: 14px;
    }
  }

  .item-page-content {
    margin-top: 24px;
  }

  .item-editor-breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 16px;

    svg {
      margin-right: 4px;
    }
  }

  .item-page-content-editor {
    margin-top: 16px;
    background-color: white;
    height: 720px;
  }

  .item-page-profile {
    align-items: center;
    flex-direction: row;
    gap: 8px;
    padding-top: 8px;

    :first-child {
      margin-left: auto;
    }

    .item-page-profile-image {
      width: 24px;
      height: 24px;
    }

    .item-page-profile-name {
      display: flex;
      gap: 4px;
      flex-direction: row;
      font-size: 1em;
      text-align: start;
      padding-top: 2px;
      color: $black-b70;

      a {
        color: $black-b70;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }

  .item-list {
    margin-top: 32px;
  }

  .item-action-editor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 32px;
    gap: 8px;

    :first-child {
      margin-left: auto;
    }

    svg {
      margin-right: 6px;
    }
  }
}
