@import "mixins";

$width: 240px;
$height: 240px;

.item {
  width: $width;
  height: $height;

  .item-header {
    display: flex;
    flex-direction: row;

    .item-title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: larger;
      font-weight: bold;
      margin-bottom: 8px;
    }

    svg {
      opacity: 0.6;
    }
  }

  .item-content {
    flex-grow: 1;

    *,
    div {
      white-space: nowrap;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: large;
    }

    .item-content-html {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      opacity: 0.7;
      font-size: medium;

      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-wrap;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }
    }

    .item-content-ellipsis {
      margin-top: 4px;
      opacity: 0.7;
      font-size: medium;
    }
  }
  // Manually repositions the footer with relative position
  // If footer is just in the ButtonBase component,
  // the buttons in the footer won't be clickable.
  .item-footer {
    top: -48px;
    position: relative;
    width: $width - 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px 0 24px;
    user-select: none;
    z-index: 5;

    .item-description {
      flex-grow: 1;
      color: rgba(0, 0, 0, 0.7);
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .MuiIconButton-root {
      padding: 6px;
      margin-bottom: 1px;
    }
  }
}
