@import "mixins";

.login-page,
.register-page,
.recovery-page {

  padding: 32px;
  border: 1px solid #0003;
  background-color: white;
  border-radius: 16px;

  .login-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 16px;
    margin-bottom: 24px;

    .logo {
      height: 24px;
    }

    .login-title {
      @include setfonts($font-weight: $weight-semibold);
      font-size: 1.5em;
      color: $black;
    }

    .login-subtitle {
      @include setfonts($font-weight: $weight-normal);
      font-size: 1em;
      color: $black-b70;
    }
  }

  .login-options {
    margin-top: 16px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    :first-child {
      margin-left: -10px;
    }

    :last-child {
      margin-right: -10px;
    }
  }
}
