@import "mixins";

.login-page,
.register-page,
.recovery-page > div {
  text-align: center;

  .login-title {
    @include setfonts(
      $font-weight: $weight-semibold,
      $font-size: $size-4,
      $line-height: 38px
    );
    padding-bottom: .25em;
    color: $black;
  }

  .login-subtitle {
    @include setfonts(
      $font-weight: $weight-normal,
      $font-size: $size-6,
      $line-height: 24px
    );
    color: $pale-sky;
  }
}
