@import "mixins";

.profile {
  .profile-label {
    @include setfonts(
      $font-weight: $weight-bold,
      $font-size: $size-5,
    );
    margin-bottom: 12px;
  }
  .profile-value {
    color: $black-b70;
    margin-bottom: 24px;

    @include setfonts(
      $font-weight: $weight-normal,
      $font-size: $size-5,
    );
  }
}
