.settings-menu {
  a.is-active {
    background-color: $mern-primary;
  }

  a.is-active:hover {
    color: $white;
  }

  a:hover {
    color: $grey-dark;
  }
}

.profile-settings {
  .select {
    width: 100%;

    select {
      width: 100%;
    }
  }

  .image {
    height: 192px;
    margin: -1rem auto 1rem;
    max-height: 192px;
    max-width: 192px;
    padding-top: 0;

    .profile-image {
      margin: 20px auto;
      max-height: 192px;
      max-width: 192px;
      position: relative;
    }
  }

  .icon {
    margin-left: 0.5rem;

    .fa-sync {
      color: $info;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
