@import "mixins";

.page-template {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  .left-pane {
    background-color: $beige;
    height: 100%;
    margin: 0;
    width: 240px;
    box-shadow: (2px 0px 6px $black-b25);
  }

  .content-pane {
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;

    .content-container {
      overflow: scroll;
    }
  }
}
